* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;    
  }
body{
  background-color: rgb(187, 187, 187);
  max-width: 100%;
  overflow-x: hidden;
}
.make-box{
  border: 3px solid rgb(0, 0, 0);
  height: 400px;
  margin: auto;
  width: 50%;
  position:sticky;
  margin-top: 100px;
  padding-left: 60px;
  padding-top: 30px;
  border-radius: 5px;
  min-height:100%;
  background:linear-gradient(0deg, rgba(255, 0, 0, 0.3), rgba(89, 0, 255, 0.3)), url("img/pexels-james-wheeler-1605325.jpg");
  background-size:cover;
  background-blend-mode:soft-light;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.make-box:hover {
  opacity: 1;
  background-blend-mode:darken;
  opacity: 20;
  box-shadow: 0 4px 8px 0 rgba(0, 110, 255, 0.274), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.make-box:last-of-type {
  clear:right;
}

h1{
  color: white;
  border: black;
  text-shadow: black;

}

h3{
  color: white;
}

nand{
  color:white;
  margin-right: 5px;
}

.sub-button {
    font-family:'Courier New', Courier, monospace;
    width: 100px;
    height: 40px;
    background-color: crimson;
    color: white;
  }

.add-button {
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
  }

.div-button {
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    height: 40px;
    background-color: rgb(199, 8, 158);
    color: white;
  }  

 .mul-button {
     font-family: 'Courier New', Courier, monospace;
    width: 100px;
    height: 40px;
    background-color: rgb(0, 174, 255);
    color: white;
  }   

  .form-inx{
      font-family: monospace;
      padding-left: 5px;
  }

  #domdom{
    padding: 3px;
    position: sticky;
    color:rgb(255, 255, 255);
    font-size: medium;
    fill-opacity: initial;
    background-color: rgb(38, 0, 255);
    width: 300px;
    max-width: 600px;
    height: 25px;
    motion: fill-box;

  }
  
  #domdom:hover {
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    border-color: rgb(255, 0, 0); 
  }

  .mul-button:hover {
    background-color: mediumaquamarine;
    border-color: blue; 
    font-weight: bold;
    transform: scale(1.05);
  }

  .add-button:hover {
    background-color: mediumaquamarine;
    border-color: blue; 
    font-weight: bold;
    transform: scale(1.05);
  }

  .sub-button:hover {
    background-color: mediumaquamarine;
    border-color: blue; 
    font-weight: bold;
    transform: scale(1.05);
  }

  .div-button:hover {
    background-color: mediumaquamarine;
    border-color: blue; 
    font-weight: bold;
    transform: scale(1.05);
  }

  .result{
    width: 1000px;
    height: 20px;
    font-size: small;
  }